.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  background-color: var(--ifm-color-primary-lightest);
  color: white;
}

.featuresTitle {
  text-align: center;
  margin-bottom: 3rem;
  color: white;
}

.featureIcon {
  font-size: 3rem;
  background-color: white;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureImage {
  display: block;
  max-width: 75%;
  max-height: 75%;
  object-fit: contain;
}
